/* 
// <uniquifier>: Use a unique and descriptive class name - описание класса
// <weight>: Use a value from 200 to 800

.manrope-<uniquifier> {
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
} 
*/

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	color: var(--black-color);
}

h1, h2, h3, p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
}

button {
	border-width: 0;
	cursor: pointer;
}

.main {
	margin-bottom: 50px;
	background-image: url(../images/first-screen-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.header {
	padding-top: 17.5px;
}

.container {
	max-width: 1160px;
	margin: 0 auto;
}

:root {
	--accent-color: #E21F4D;
	--black-color: #3F3F3F;
	--white-color: #FFF;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-height: 62px;
}

.header__part-one {
	display: flex;
	align-items: center;
}

.header__part-two{
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 590px;
}

.header__logo {
	width: 188px;
	height: 55px;
	margin-right: 29px;
}

.header__title {
	max-width: 200px;
	font-size: 14px;
	padding-left: 23px;
	position: relative;
	display: inline-block;
}

.header__title:before {
	content: " ";
	background: rgba(63, 63, 63, 0.2);
	width: 1px;
	height: 26px;
	left: 0px;
	top: 50%;
	margin-top: -13px;
	position: absolute;
}

.header__location {
	display: flex;
	align-items: center;
}

.header__location-bg {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: var(--white-color);
	box-shadow: 0 14px 54px 0 rgba(0, 0, 0, 0.08);
	width: 62px;
	height: 62px;
	margin-right: 16px;
}

.header__location-img {
	width: 50px;
	height: 50px;
}

.header__street {
	width: 115px;
	font-size: 14px;
}

.header__phone {
	display: flex;
	align-items: center;
	border-radius: 673px;
	box-shadow: 0 14px 54px 0 rgba(0, 0, 0, 0.08);
	width: 233px;
	height: 56px;
	background: var(--white-color);
}

.header__phone-icon {
	width: 31px;
	height: 31px;
	margin: 0 8px 0 13px ;
}

.header__number-text {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin: 11px 0 10px 0;
}

.header__number {
	font-weight: 300;
	font-size: 20px;
	line-height: 100%;
	color: #818181;
}

.header__number--red {
	font-weight: 700;
}

.text-red {
	color: var(--accent-color);
}

.header__dot-text {
	display: flex;
	align-items: center;
}

.header__dot {
	border-radius: 100%;
	width: 4px;
	height: 4px;
	background-color: #79bc6e;
	margin-right: 6px;
}

.header__text {
	font-weight: 500;
	font-size: 10px;
	color: #767676;
}

.main__container {
	position: relative;
	display: flex;
}

.main__title {
	position: absolute;
	right: 0;
	font-weight: 800;
	font-size: 55px;
	line-height: 127%;
	margin-top: 80px;
	max-width: min-content;
	text-transform: uppercase;
	text-shadow: -1px -1px 0 #000,
								0px -1px 0 #000,
								1px -1px 0 #000,
								1px 0px 0 #000,
								1px 1px 0 #000,
								0px 1px 0 #000,
								-1px 1px 0 #000,
								-1px 0 0 #000;
}

.main__doc {
	position: relative;
	margin: 26.5px 20px 0 2px;
	min-width: 548px;
	height: 736px;
}

.main__img-doc {
	position: relative;
	z-index: 1;
}

.main__name-container {
	position: absolute;
	top: 506.5px;
	left: 169px;
}

.main__name-doc {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1);
	background: var(--white-color);
	width: 185px;
	height: 45px;
	z-index: 2;
}

.main__name {
	margin-right: 11px;
	font-weight: 700;
	font-size: 16px;
}

.main__icon-bg {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: var(--white-color);
	box-shadow: 0 13px 24px 0 rgba(0, 0, 0, 0.1);
	width: 26px;
	height: 26px;
}

.quote {
	position: relative;
	margin-left: 24px;
	z-index: 1;
}

.quote__container {
	display: flex;
	justify-content: center;
	box-shadow: 0 13px 24px 0 rgba(0, 0, 0, 0.15);
	background: var(--white-color);
}

.quote__container-one {
	border-radius: 5px 5px 5px 0;
	align-items: center;
	width: 228px;
	height: 70px;
}

.quote__container-two {
	border-radius: 0 0 5px 5px;
	max-width: 178px;
	height: 38px;
}

.quote__part-one {
	font-weight: 500;
	font-size: 18px;
	line-height: 156%;
	width: 190px;
}

.quote__part-two {
	font-size: 11px;
	color: #969696;
	width: 145px;
}

.main__signature {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-bottom: 3px;
	z-index: 1;
}

.main__rating-container {
	position: absolute;
	display: flex;
	align-items: center;
	top: 162px;
	left: 12px;
}

.main__top {
	font-weight: 800;
	font-size: 35px;
	line-height: 200%;
	margin-top: 36px;
}

.main__five {
	font-weight: 800;
	font-size: 165px;
	line-height: 85%;
	background: linear-gradient(163deg, var(--accent-color) 0%, #981433 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	z-index: 0;
}

.main__rating {
	margin: 18px 0 0 6px;
	z-index: 1;
}

.main__stars {
	display: flex;
	height: 15px;
	margin: 0 0 2px 2px;
}

.main__star {
	margin-right: 8px;
}

.main__rating-text {
	font-weight: 600;
	font-size: 19px;
	width: 102px;
}

.main__description {
	margin-top: 324px;
}

.main__text {
	font-size: 18px;
	line-height: 150%;
	max-width: 420px;
	margin-bottom: 27px;
}

.main__text--700 {
	font-weight: 700;
}

.main__button {
	position: relative;
	font-size: 18px;
	width: 292px;
	height: 80px;
	margin-bottom: 51.5px;
}

.button--red {
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 600;
	color: var(--white-color);
	border-radius: 1000px;
	box-shadow: inset 0 0 27px 4px rgba(255, 255, 255, 0.46);
	background: var(--accent-color);
}

.button--red::after {
	content: "";
	display: block;
	position: absolute;
	width: 50%;
	left: 0;
	bottom: 0;
	box-shadow: 0 0 34px 30px rgba(226, 31, 77, 0.6);
	transform: translate(50%, -20px);
	z-index: -1;
}

.main__about-teeth {
	display: flex;
	align-items: center;
	position: relative;
	width: 454px;
}

.main__teeth {
	display: flex;
	align-items: center;
	border-radius: 10px;
	width: 427px;
	height: 140px;
	box-shadow: 0 12px 46px 0 rgba(0, 0, 0, 0.08);
	background: var(--white-color);
}

.main__tooth-icon {
	width: 55px;
	height: 55px;
	margin-left: 28px;
}

.main__text-teeth {
	margin-left: 26px;
}

.main__h3-teeth {
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 8px;
}

.main__p-teeth {
	font-size: 13px;
	margin-bottom: 5px;
	width: 283px;
}

.full-link {
	font-size: 13px;
	color: var(--black-color);
	text-decoration-style: dotted;
	text-underline-offset: 6px;
	text-decoration-color: rgba(0, 0, 0, 0.3);
}

.main__button-teeth {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	border-radius: 100%;
	background-color: var(--white-color);
	box-shadow: 0 15px 59px 0 rgba(0, 0, 0, 0.08);
	width: 55px;
	height: 55px;
	right: 0;
}

.services {
	margin-bottom: 104px;
}

.services__title-container {
	width: 143px;
	height: 44px;
	margin-bottom: 20px;
}

.title-container {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 351px;
	box-shadow: 0 15px 59px 0 rgba(0, 0, 0, 0.08);
	background: var(--white-color);
}

.services__title {
	font-weight: 500;
	font-size: 14px;
}

.services__h2 {
	font-weight: 700;
	font-size: 30px;
	line-height: 133%;
	text-transform: uppercase;
	max-width: 905px;
	margin-bottom: 55px;
}

.services__h2--800 {
	font-weight: 800;
}

.services__slider {
	position: relative;
	display: flex;
	align-items: center;
}

.services__button-arrow {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: var(--white-color);
	box-shadow: 0 15px 59px 0 rgba(0, 0, 0, 0.08);
	width: 55px;
	height: 55px;
	right: -27.5px;
}

.services__button-arrow--left {
	left: -27.5px;
}

.services__arrow--left {
	transform: rotate(180deg);
}

.services__item {
	margin-right: 25px;
}

.services__item:last-child {
	margin-right: 0;
}

.services__img-container {
	background-image: url(../images/img-container-bg.svg);
	background-repeat: no-repeat;
	width: 370px;
	height: 200px;
	box-shadow: 15px 0 66px 0 rgba(0, 0, 0, 0.08);
	border-radius: 10px 10px 0 0;
}

.services__text-container {
	box-shadow: 0 14px 66px 0 rgba(0, 0, 0, 0.1);
	background: var(--white-color);
	border-radius: 0 0 10px 10px;
	padding: 34px 31px;
}

.services__h3 {
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 10px;
}

.services__text {
	font-size: 13px;
	margin-bottom: 21px;
}

.services__button-container {
	display: flex;
	align-items: center;
}

.services__button {
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	color: var(--white-color);
	border-radius: 1000px;
	box-shadow: inset 0 0 27px 4px rgba(255, 255, 255, 0.46);
	background: var(--accent-color);
	width: 146px;
	height: 39px;
	margin-right: 17px;
}

.about {
	margin-bottom: 190px;
}

.about__container {
	position: relative;
	display: flex;
}

.about__star-name {
	position: absolute;
	left: -12px;
	top: 25px;
}

.about__name {
	font-size: 55px;
	line-height: 105%;
	margin: 33px 0 20px 0;
	width: min-content;
}

.about__name--600 {
	font-weight: 600;
}

.about__name-p {
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 34px;
}

.about__button {
	position: relative;
	font-size: 16px;
	width: 252px;
	height: 69px;
}

.about__doc-img {
	position: absolute;
	z-index: -1;
	left: 165px;
}

.about__text-container {
	position: absolute;
	right: 32px;
}

.about__title-container {
	width: 143px;
	height: 44px;
	margin: 3px 0 19px 0;
}

.about__title {
	font-weight: 500;
	font-size: 14px;
}

.about__star {
	position: absolute;
	left: -14px;
	top: 61px;
}

.about__h2 {
	font-weight: 800;
	font-size: 30px;
	line-height: 133%;
	text-transform: uppercase;
	margin-bottom: 13px;
	max-width: 431px;
}

.about__p-container {
	font-size: 16px;
	line-height: 150%;
	max-width: 458px;
	margin-left: 99px;
}

.about__p--600 {
	font-weight: 600;
	margin-bottom: 24px;
}

.about__signature {
	position: absolute;
	bottom: -68px;
	right: 143px;
	width: 123px;
	height: 96px;
}

.experts {
	border-radius: 50px;
	max-width: 1500px;
	max-height: 998px;
	background: #f5f5f5;
	margin: 0 auto 50px auto;
	padding: 50px 149px;
}

.experts__container {
	position: relative;
}

.experts__header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 50px;
}

.experts__title-h2 {
	margin-left: 1px;
}

.experts__title-container {
	width: 177px;
	height: 46px;
	margin-bottom: 12px;
}

.experts__title {
	font-weight: 500;
	font-size: 14px;
}

.experts__h2 {
	font-weight: 400;
	font-size: 30px;
	line-height: 133%;
	text-transform: uppercase;
}

.experts__h2--800 {
	font-weight: 800;
}

.experts__star {
	position: absolute;
	top: 15px;
	right: 411px;
}

.experts__p {
	font-size: 18px;
	line-height: 150%;
	max-width: 411px;
}

.experts__p--700 {
	font-weight: 700;
}

.experts__items {
	position: absolute;
	display: flex;
	margin-bottom: 50px;
	left: -2.7%;
}

.experts__item {
	border-radius: 10px;
	max-width: 384px;
	max-height: 606px;
	background-color: var(--white-color);
	margin-right: 25px;
	padding: 35px 31px;
}

.experts__item:last-child {
	margin-right: 0;
}

.experts__img {
	width: 322px;
	max-height: 323px;
	margin-bottom: 20px;
}

.experts__text {
	margin-left: 11px;
}

.experts__h3 {
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 15px;
}

.experts__p-item {
	font-size: 14px;
	margin-bottom: 15px;
}

.experts__p--opacity {
	max-width: 264px;
	font-size: 14px;
	opacity: 0.6;
	margin-bottom: 13px;
}

.experts__button-item {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	border: 1px solid #e21f4d;
	border-radius: 1000px;
	width: 161px;
	height: 50px;
	background-color: transparent;
}

.experts__arrow {
	margin-left: 11px;
	width: 13px;
	height: 14px;
}

.experts__button {
	display: block;
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	border-radius: 1000px;
	width: 195px;
	height: 54px;
	box-shadow: inset 0 0 27px 4px rgba(255, 255, 255, 0.25);
	background: var(--accent-color);
	opacity: 0.8;
	color: var(--white-color);
	margin: 706px auto 0 auto;
}

.principles {
	margin-bottom: 64px;
}

.principles__container {
	position: relative;
	display: flex;
}

.principles__images-container {
	position: absolute;
	background-image: url(../images/circles-bg.svg);
	background-repeat: no-repeat;
	width: 100%;
	height: 200%;
	top: -46.9%;
	left: -38.8%;
	z-index: -1;
}

.principles__img {
	position: absolute;
	width: 566px;
	height: 655px;
	left: 407px;
	top: 324px;
}

.principles__star {
	position: absolute;
	width: 79px;
	height: 72px;
	transform: rotate(10deg);
	top: 342px;
	left: 321px;
}

.principles__star--blur {
	position: absolute;
	width: 79px;
	height: 72px;
	filter: blur(2px);
	transform: rotate(10deg);
	top: 522px;
	left: 911px;
}

.principles__star-big--blur {
	position: absolute;
	width: 150px;
	height: 136px;
	filter: blur(5px);
	transform: rotate(256deg);
	top: 860px;
	left: 326px;
}

.principles__text {
	position: relative;
	max-width: 575px;
	margin: 0 15px 0 auto;
}

.principles__star--rotate {
	position: absolute;
	width: 30px;
	height: 27px;
	transform: rotate(10deg);
	right: 53px;
	top: 16px;
}

.principles__title-container {
	width: 177px;
	height: 46px;
	margin-bottom: 20px;
}

.principles__title {
	font-weight: 500;
	font-size: 14px;
}

.principles__h2 {
	font-weight: 400;
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.principles__h2--700 {
	font-weight: 700;
}

.principles__items {
	margin-left: 100px;
}

.principles__item {
	display: flex;
	align-items: center;
	border-radius: 11px;
	max-width: 400px;
	height: 80px;
	box-shadow: 0 15px 59px 0 rgba(0, 0, 0, 0.08);
	background: var(--white-color);
	margin-bottom: 20px;
	padding: 10px 20px;
}

.principles__item:last-child {
	margin-bottom: 29px;
}

.principles__icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	background-color: rgba(245, 245, 245, 0.6);
	margin-right: 20px;
}

.principles__icon {
	width: 29px;
	height: 30px;
}

.principles__p {
	font-size: 11px;
	max-width: 275px;
}

.principles__p--700 {
	font-weight: 700;
}

.principles__button {
	position: relative;
	font-size: 18px;
	width: 292px;
	height: 80px;
	margin-left: 100px;
}

.principles__star-big--rotate {
	position: absolute;
	width: 52px;
	height: 48px;
	transform: rotate(147deg);
	right: 150px;
	top: 673px;
}

.responses {
	border-radius: 50px;
	max-width: 1500px;
	height: 831px;
	background: #f5f5f5;
	padding: 50px 167px;
	margin: 0 auto 50px auto;
}

.responses__header {
	display: flex;
	position: relative;
	margin-bottom: 38px;
}

.responses__title-p {
	margin-right: 131px;
}

.responses__title-container {
	width: 177px;
	height: 46px;
	margin-bottom: 20px;
}

.responses__title {
	font-weight: 500;
	font-size: 14px;
}

.responses__h2 {
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	margin: 0 0 20px 3px;
}

.responses__p-container {
	display: flex;
}

.responses__p {
	font-size: 14px;
	margin-right: 21px;
}

.responses__p:last-child {
	margin-right: 0;
}

.responses__portals {
	margin-top: 66px;
}

.responses__p-portals {
	font-weight: 500;
	font-size: 16px;
	margin: 0 0 20px 3px;
}

.responses__icons-portals {
	display: flex;
}

.responses__icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: var(--white-color);
	box-shadow: 0 13px 24px 0 rgba(0, 0, 0, 0.1);
	width: 50px;
	height: 50px;
	margin-right: 20px;
	padding: 0 7.5px;
}

.responses__icon-container:last-child {
	margin-right: 0;
}

.responses__icon {
	min-width: 23px;
	max-height: 22px;
}

.responses__star {
	position: absolute;
	width: 106px;
	height: 96px;
	filter: blur(2px);
	transform: rotate(220deg);
	right: 20px;
	top: -16px;
}

.responses__video-items {
	display: flex;
	align-items: center;
}

.responses__video-container {
	position: relative;
	width: 100%;
	height: 100%;
	margin-right: 157px;
}

.responses__video {
	border-radius: 10px;
}

.responses__play-button {
	position: absolute;
	top: calc(50% - 42px);
	left: calc(50% - 30px);
	background-color: transparent;
}

.responses__play {
	filter: drop-shadow(0 4px 64px var(--accent-color));
}

.responses__items-buttons {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.responses__button-arrow {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 43px;
	height: 43px;
	border-radius: 100%;
	background-color: var(--white-color);
	box-shadow: 0 12px 45px 0 rgba(0, 0, 0, 0.08);
	top: -53px;
}

.responses__button-arrow:last-child {
	top: 493px;
}

.responses__arrow {
	transform: rotate(-90deg);
}

.responses__item {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 211px;
	border-radius: 10px;
	box-shadow: 0 15px 59px 0 rgba(0, 0, 0, 0.08);
	background: var(--white-color);
	margin-bottom: 10px;
	padding: 5px 20px;
}

.responses__item:first-child {
	border: 1px solid #e21f4d;
}

.responses__item:last-child {
	margin-bottom: 0;
}

.responses__img-bg {
	border-radius: 100%;
	background-color: var(--white-color);
	box-shadow: 0 14px 54px 0 rgba(0, 0, 0, 0.08);
	width: 62px;
	height: 62px;
	padding: 6px;
	margin-right: 15px;
}

.responses__p-item {
	font-size: 11px;
	width: 94px;
	color: rgba(63, 63, 63, 0.6);
}

.responses__p-item--700 {
	font-weight: 700;
	font-size: 14px;
	color: var(--black-color);
}

.responses__arrow--bottom {
	transform: rotate(90deg);
}

.licenses__container {
	position: relative;
}

.licenses__image {
	position: absolute;
	background-image: url(../images/circles-bg.svg);
	background-repeat: no-repeat;
	width: 100%;
	height: 200%;
	top: -406px;
	left: -405px;
	z-index: -1;
}

.licenses__license {
	margin: 484px 0 0 466px;
	max-width: 447px;
	max-height: 476px;
}

.licenses__lock-container {
	position: absolute;
	display: flex;
	align-items: flex-start;
	top: 180px;
	left: 412px;
}

.licenses__magnifier {
	margin-right: 8px;
}

.licenses__p-lock {
	font-size: 11px;
	color: #8f8f8f;
	width: 98px;
}

.licenses__text-container {
	max-width: min-content;
	margin: 0 30px 0 auto;
}

.licenses__title-container {
	width: 177px;
	height: 46px;
	margin-bottom: 20px;
}

.licenses__tittle {
	font-weight: 500;
	font-size: 14px;
}

.licenses__h2 {
	font-weight: 400;
	font-size: 30px;
	line-height: 133%;
	text-transform: uppercase;
	max-width: 362px;
	margin-bottom: 34px;
}

.font-weight--700 {
	font-weight: 700;
}

.licenses__text {
	margin-left: 100px;
}

.licenses__p {
	font-size: 16px;
	line-height: 150%;
	max-width: 380px;
	margin-bottom: 43px;
}

.licenses__details {
	position: relative;
	display: flex;
	margin-bottom: 40px;
}

.licenses__plus-1 {
	position: absolute;
	left: -15px;
	top: -7px;
}

.licenses__plus-2 {
	position: absolute;
	left: 259px;
	top: -7px;
}

.licenses__p-details {
	font-size: 13px;
	line-height: 150%;
	width: 186px;
	margin-right: 88px;
}

.licenses__p-details:last-child {
	margin-right: 0;
}

.licenses__button {
	position: relative;
	width: 292px;
	height: 80px;
	font-size: 18px;
}