/* 
// <uniquifier>: Use a unique and descriptive class name - описание класса
// <weight>: Use a value from 200 to 800

.manrope-<uniquifier> {
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
} 
*/

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	background-image: url(../images/first-screen-bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

h1, h2, h3, p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
}

button {
	border-width: 0;
}

.header {
	padding-top: 17.5px;
}

.container {
	max-width: 1160px;
	margin: 0 auto;
}

:root {
	--accent-color: #E21F4D;
	--black-color: #3F3F3F;
	--white-color: #FFF;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-height: 62px;
}

.header__part-one {
	display: flex;
	align-items: center;
}

.header__part-two{
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 590px;
}

.header__logo {
	width: 188px;
	height: 55px;
	margin-right: 29px;
}

.header__title {
	max-width: 200px;
	font-size: 14px;
	color: var(--black-color);
	padding-left: 23px;
	position: relative;
	display: inline-block;
}

.header__title:before {
	content: " ";
	background: rgba(63, 63, 63, 0.2);
	width: 1px;
	height: 26px;
	left: 0px;
	top: 50%;
	margin-top: -13px;
	position: absolute;
}

.header__location {
	display: flex;
	align-items: center;
}

.header__location-bg {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: var(--white-color);
	box-shadow: 0 14px 54px 0 rgba(0, 0, 0, 0.08);
	width: 62px;
	height: 62px;
	margin-right: 16px;
}

.header__location-img {
	width: 50px;
	height: 50px;
}

.header__street {
	width: 115px;
	font-size: 14px;
	color: var(--black-color);
}

.header__phone {
	display: flex;
	align-items: center;
	border-radius: 673px;
	box-shadow: 0 14px 54px 0 rgba(0, 0, 0, 0.08);
	width: 233px;
	height: 56px;
	background: var(--white-color);
}

.header__phone-icon {
	width: 31px;
	height: 31px;
	margin: 0 8px 0 13px ;
}

.header__number-text {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin: 11px 0 10px 0;
}

.header__number {
	font-weight: 300;
	font-size: 20px;
	line-height: 100%;
	color: #818181;
}

.header__number--red {
	font-weight: 700;
}

.red {
	color: var(--accent-color);
}

.header__dot-text {
	display: flex;
	align-items: center;
}

.header__dot {
	border-radius: 100%;
	width: 4px;
	height: 4px;
	background-color: #79bc6e;
	margin-right: 6px;
}

.header__text {
	font-weight: 500;
	font-size: 10px;
	color: #767676;
}

.main {
	margin-bottom: 50px;
}

.main__container {
	position: relative;
	display: flex;
}

.main__title {
	position: absolute;
	right: 0;
	font-weight: 800;
	font-size: 55px;
	line-height: 127%;
	color: var(--black-color);
	margin-top: 80px;
	max-width: min-content;
	text-transform: uppercase;
	text-shadow: -1px -1px 0 #000,
								0px -1px 0 #000,
								1px -1px 0 #000,
								1px 0px 0 #000,
								1px 1px 0 #000,
								0px 1px 0 #000,
								-1px 1px 0 #000,
								-1px 0 0 #000;
}

.main__doc {
	position: relative;
	margin: 26.5px 20px 0 2px;
	min-width: 548px;
	height: 736px;
}

.main__img-doc {
	position: absolute;
	background-image: url(../images/doc.svg);
	background-repeat: no-repeat;
	width: 493px;
	height: 736px;
}

.main__name-container {
	margin: 506.5px 0 0 169px;
	position: absolute;
}

.main__name-doc {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1);
	background: var(--white-color);
	width: 185px;
	height: 45px;
}

.main__name {
	margin-right: 11px;
	font-weight: 700;
	font-size: 16px;
	color: var(--accent-color);
}

.main__icon-bg {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: var(--white-color);
	box-shadow: 0 13px 24px 0 rgba(0, 0, 0, 0.1);
	width: 26px;
	height: 26px;
}

.quote {
	margin-left: 24px;
}

.quote__container {
	display: flex;
	justify-content: center;
	box-shadow: 0 13px 24px 0 rgba(0, 0, 0, 0.15);
	background: var(--white-color);
}

.quote__container-one {
	border-radius: 5px 5px 5px 0;
	align-items: center;
	width: 228px;
	height: 70px;
}

.quote__container-two {
	border-radius: 0 0 5px 5px;
	max-width: 178px;
	height: 38px;
}

.quote__part-one {
	font-weight: 500;
	font-size: 18px;
	line-height: 156%;
	color: var(--black-color);
	width: 190px;
}

.quote__part-two {
	font-size: 11px;
	color: #969696;
	width: 145px;
}

.main__signature {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-bottom: 3px;
}

.main__rating-container {
	position: absolute;
	display: flex;
	align-items: center;
	margin: 162px 0 0 12px;
}

.main__top {
	font-weight: 800;
	font-size: 35px;
	line-height: 200%;
	color: var(--accent-color);
	margin-top: 36px;
}

.main__five {
	font-weight: 800;
	font-size: 165px;
	line-height: 85%;
	background: linear-gradient(163deg, var(--accent-color) 0%, #981433 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	z-index: -1;
}

.main__rating {
	margin: 18px 0 0 6px;
}

.main__stars {
	display: flex;
	height: 15px;
	margin: 0 0 2px 2px;
}

.main__star {
	margin-right: 8px;
}

.main__rating-text {
	font-weight: 600;
	font-size: 19px;
	color: var(--black-color);
	width: 102px;
}

.main__description {
	margin-top: 324px;
}

.main__text {
	font-size: 18px;
	line-height: 150%;
	color: var(--black-color);
	max-width: 420px;
	margin-bottom: 27px;
}

.main__text--700 {
	font-weight: 700;
}

.main__button {
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	color: var(--white-color);
	width: 292px;
	height: 80px;
	margin-bottom: 51.5px;
}

.button--red {
	border-radius: 1000px;
	box-shadow: inset 0 0 27px 4px rgba(255, 255, 255, 0.46);
	background: var(--accent-color);
}

.main__about-teeth {
	display: flex;
	align-items: center;
	position: relative;
	width: 454px;
}

.main__teeth {
	display: flex;
	align-items: center;
	border-radius: 10px;
	width: 427px;
	height: 140px;
	box-shadow: 0 12px 46px 0 rgba(0, 0, 0, 0.08);
	background: var(--white-color);
}

.main__tooth-icon {
	width: 55px;
	height: 55px;
	margin-left: 28px;
}

.main__text-teeth {
	margin-left: 26px;
}

.main__h3-teeth {
	font-weight: 600;
	font-size: 18px;
	color: var(--black-color);
	margin-bottom: 8px;
}

.main__p-teeth {
	font-size: 13px;
	color: var(--black-color);
	margin-bottom: 5px;
	width: 283px;
}

.full-link {
	font-size: 13px;
	color: var(--black-color);
	text-decoration-style: dotted;
	text-underline-offset: 6px;
	text-decoration-color: rgba(0, 0, 0, 0.3);
}

.main__button-teeth {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	border-radius: 100%;
	background-color: var(--white-color);
	box-shadow: 0 15px 59px 0 rgba(0, 0, 0, 0.08);
	width: 55px;
	height: 55px;
	right: 0;
}

.services {
	margin-bottom: 104px;
}

.services__container {
}

.services__title-container {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 351px;
	width: 143px;
	height: 44px;
	box-shadow: 0 15px 59px 0 rgba(0, 0, 0, 0.08);
	background: var(--white-color);
	margin-bottom: 20px;
}

.services__title {
	font-weight: 500;
	font-size: 14px;
	color: var(--accent-color);
}

.services__h2 {
	font-weight: 700;
	font-size: 30px;
	line-height: 133%;
	text-transform: uppercase;
	color: var(--black-color);
	max-width: 905px;
	margin-bottom: 55px;
}

.services__h2--800 {
	font-weight: 800;
}

.services__slider {
	position: relative;
	display: flex;
	align-items: center;
}

.services__button-arrow {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: var(--white-color);
	box-shadow: 0 15px 59px 0 rgba(0, 0, 0, 0.08);
	width: 55px;
	height: 55px;
	right: -27.5px;
}

.services__button-arrow--left {
	left: -27.5px;
}

.services__arrow--left {
	transform: rotate(180deg);
}

.services__item {
	margin-right: 25px;
}

.services__item:last-child {
	margin-right: 0;
}

.services__img-container {
	background-image: url(../images/img-container-bg.svg);
	background-repeat: no-repeat;
	width: 370px;
	height: 200px;
	box-shadow: 15px 0 66px 0 rgba(0, 0, 0, 0.08);
	border-radius: 10px 10px 0 0;
}

.services__img {
}

.services__text-container {
	box-shadow: 0 14px 66px 0 rgba(0, 0, 0, 0.1);
	background: var(--white-color);
	border-radius: 0 0 10px 10px;
	padding: 34px 31px;
}

.services__h3 {
	font-weight: 500;
	font-size: 18px;
	color: var(--black-color);
	margin-bottom: 10px;
}

.services__text {
	font-size: 13px;
	color: var(--black-color);
	margin-bottom: 21px;
}

.services__button-container {
	display: flex;
	align-items: center;
}

.services__button {
	font-weight: 600;
	font-size: 14px;
	color: var(--white-color);
	width: 146px;
	height: 39px;
	margin-right: 17px;
}